<div id="ngx-datatable" class="page-layout simple fullwidth docs">

    <!-- HEADER -->

    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <p class="mb-32">
            Meter Reading Details
        </p>
        <mat-form-field>
            <mat-select placeholder="Select pump" >
                <mat-option value="option1">pump 1</mat-option>
                <mat-option value="option2" >pump 2 (disabled)</mat-option>
                <mat-option value="option3">pump 3</mat-option>
            </mat-select>
        </mat-form-field>
       
                <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                    [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
                    [selectionType]="'checkbox'" [limit]="10">

                    <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">
                        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                            let-selectFn="selectFn">
                            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                        </ng-template>

                        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                            let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>

                    <ngx-datatable-column name="Last Name" prop="lastName"></ngx-datatable-column>

                    <ngx-datatable-column name="Company" prop="company"></ngx-datatable-column>
                </ngx-datatable>
          

    



    </div>

</div>