<div class="page-layout simple fullwidth docs">

    <mat-tab-group>
        <mat-tab label="Employees">
            <employees-table></employees-table>
        </mat-tab>
        <mat-tab label="Customers">
            <customers-table></customers-table>
        </mat-tab>
        <mat-tab label="Vehicles">
            <vehicle-table></vehicle-table>
        </mat-tab>
        <mat-tab label="Fuel Type">
            <fueltype-table></fueltype-table>
        </mat-tab>
        <mat-tab label="Tanks">
            <tank-table></tank-table>
        </mat-tab>
        <mat-tab label="Pumps">
            <h1>card 1</h1>
        </mat-tab>


    </mat-tab-group>

</div>