<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-title>

            <button id="addnew" mat-raised-button>
                <mat-icon>add</mat-icon>Create
            </button>

            <mat-form-field id="searchbar" class="search-form-field" floatLabel="never">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>


        </mat-card-title>

        <mat-card-content>

            <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="nic">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC</th>
                    <td mat-cell *matCellDef="let row">{{row.nic}}</td>
                </ng-container>

                <!-- FirstName Column -->
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="FirstName" [value]="row.firstname" [(ngModel)]="row.firstname">
                        </mat-form-field>
                    </td>
                </ng-container>

                <!-- LastName Column -->
                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
                    <td mat-cell *matCellDef="let row">{{row.lastname}}</td>
                </ng-container>

                <!-- dateofbirth Column -->
                <ng-container matColumnDef="dateofbirth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DateOfBirth</th>
                    <td mat-cell *matCellDef="let row">{{row.dateofbirth|date}}</td>
                </ng-container>

                <!-- phoneno Column -->
                <ng-container matColumnDef="phoneno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>PhoneNo</th>
                    <td mat-cell *matCellDef="let row">{{row.phoneno}}</td>
                </ng-container>

                <!-- gender Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
                    <td mat-cell *matCellDef="let row">{{row.gender}}</td>
                </ng-container>

                <!-- address Column -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                    <td mat-cell *matCellDef="let row">{{row.address}}</td>
                </ng-container>

                <!-- levelid Column -->
                <ng-container matColumnDef="levelid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>LevelId</th>
                    <td mat-cell *matCellDef="let row">{{row.levelid}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button>
                                <mat-icon>launch</mat-icon>
                            </button>
                            <button mat-icon-button color="warn">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25"
                [pageSizeOptions]="[10,25, 50, 100, 250]">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>