<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-title>
            <mat-form-field id="searchbar" class="search-form-field" floatLabel="never">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="isexpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Pump data
                        </mat-panel-title>
                        <mat-panel-description>
                            add/edit data
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput [disabled] ="updateMod" placeholder="Pump ID" [(ngModel)]="temppumpItem.PumpID">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Tank ID" [(ngModel)]="temppumpItem.TankID">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Label" [(ngModel)]="temppumpItem.Label">
                    </mat-form-field>
                   
                    <mat-action-row>
                        <button mat-button color="error" (click)="cancel()">Cancel</button>
                        <button *ngIf="updateMod" mat-button color="primary" (click)="updateItem(temppumpItem)">Update</button>
                        <button *ngIf="!updateMod" mat-button color="primary" (click)="insertItem(temppumpItem)">Insert</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-title>

        <mat-card-content>

            <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="PumpID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pump ID</th>
                    <td mat-cell *matCellDef="let trow">{{trow.PumpID}}</td>
                </ng-container>

                <!-- FirstName Column -->
                <ng-container matColumnDef="TankID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tank ID</th>
                    <td mat-cell *matCellDef="let trow">
                        {{trow.TankID}}
                    </td>
                </ng-container>

                <!-- LastName Column -->
                <ng-container matColumnDef="Label">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
                    <td mat-cell *matCellDef="let trow">{{trow.Label}}</td>
                </ng-container>

               
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>actions</th>
                    <td mat-cell *matCellDef="let trow">
                        <button mat-icon-button (click)="enableUpdateMod(trow)">
                            <mat-icon>launch</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteItem(trow)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25"
                [pageSizeOptions]="[10,25, 50, 100, 250]">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>