<div class="mat-elevation-z8">
        <mat-card>
            <mat-card-title>
                <mat-form-field id="searchbar" class="search-form-field" floatLabel="never">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <mat-accordion>
                    <mat-expansion-panel [(expanded)]="isexpanded">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Customers data
                            </mat-panel-title>
                            <mat-panel-description>
                                add/edit data
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <input matInput [disabled] ="updateMod" placeholder="CustomerID" [(ngModel)]="tempCustomerItem.CustomerID">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="CompanyName" [(ngModel)]="tempCustomerItem.CompanyName">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Threshold" [(ngModel)]="tempCustomerItem.Threshold">
                        </mat-form-field>
    
                        <mat-form-field>
                            <input matInput  placeholder="PhoneNumber" [(ngModel)]="tempCustomerItem.PhoneNumber">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Address" [(ngModel)]="tempCustomerItem.Address">
                        </mat-form-field>
                        
                        <mat-action-row>
                            <button mat-button color="error" (click)="cancel()">Cancel</button>
                            <button *ngIf="updateMod" mat-button color="primary" (click)="updateItem(tempCustomerItem)">Update</button>
                            <button *ngIf="!updateMod" mat-button color="primary" (click)="insertItem(tempCustomerItem)">Insert</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-title>
    
            <mat-card-content>
    
                <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
                    <!-- Id Column -->
                    <ng-container matColumnDef="CustomerID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CustomerID</th>
                        <td mat-cell *matCellDef="let row">{{row.CustomerID}}</td>
                    </ng-container>
    
                    <!-- FirstName Column -->
                    <ng-container matColumnDef="CompanyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CompanyName</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.CompanyName}}
                        </td>
                    </ng-container>
    
                    <!-- LastName Column -->
                    <ng-container matColumnDef="Threshold">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Threshold</th>
                        <td mat-cell *matCellDef="let row">{{row.Threshold}}</td>
                    </ng-container>
    
                    <!-- dateofbirth Column -->
                    <ng-container matColumnDef="PhoneNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PhoneNumber</th>
                        <td mat-cell *matCellDef="let row">{{row.PhoneNumber}}</td>
                    </ng-container>
    
                    <!-- phoneno Column -->
                    <ng-container matColumnDef="Address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                        <td mat-cell *matCellDef="let row">{{row.Address}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>actions</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="enableUpdateMod(row)">
                                <mat-icon>launch</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteItem(row)">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
    
                <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25"
                    [pageSizeOptions]="[10,25, 50, 100, 250]">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>