<div class="mat-elevation-z8">



    <mat-card>
        <mat-card-title>
            <mat-form-field id="searchbar" class="search-form-field" floatLabel="never">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="isexpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Employee data
                        </mat-panel-title>
                        <mat-panel-description>
                            add/edit data
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput [disabled] ="updateMod" placeholder="NIC" [(ngModel)]="tempCheque_RecievedItem.ItemID">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="First name" [(ngModel)]="tempCheque_RecievedItem.ChequeID">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last name" [(ngModel)]="tempCheque_RecievedItem.CompanyName">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="tempCheque_RecievedItem.Amount">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="PhoneNo" [(ngModel)]="tempCheque_RecievedItem.ReceivedDate">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Gender" [(value)]="tempCheque_RecievedItem.ExpireDate">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Address" [(ngModel)]="tempCheque_RecievedItem.Incoming_Outgoing">
                    </mat-form-field>
        
                    <mat-action-row>
                        <button mat-button color="error" (click)="cancel()">Cancel</button>
                        <button *ngIf="updateMod" mat-button color="primary" (click)="updateItem(tempCheque_RecievedItem)">Update</button>
                        <button *ngIf="!updateMod" mat-button color="primary" (click)="insertItem(tempCheque_RecievedItem)">Insert</button>
                    </mat-action-row>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-card-title>

        <mat-card-content>

            <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="ItemID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ItemID</th>
                    <td mat-cell *matCellDef="let row">{{row.ItemID}}</td>
                </ng-container>

                <!-- FirstName Column -->
                <ng-container matColumnDef="ChequeID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ChequeID</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.ChequeID}}
                    </td>
                </ng-container>

                <!-- LastName Column -->
                <ng-container matColumnDef="CompanyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CompanyName</th>
                    <td mat-cell *matCellDef="let row">{{row.CompanyName}}</td>
                </ng-container>

                <!-- dateofbirth Column -->
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                    <td mat-cell *matCellDef="let row">{{row.Amount}}</td>
                </ng-container>

                <!-- phoneno Column -->
                <ng-container matColumnDef="ReceivedDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ReceivedDate</th>
                    <td mat-cell *matCellDef="let row">{{row.ReceivedDate}}</td>
                </ng-container>

                <!-- gender Column -->
                <ng-container matColumnDef="ExpireDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ExpireDate</th>
                    <td mat-cell *matCellDef="let row">{{row.ExpireDate}}</td>
                </ng-container>

                <!-- address Column -->
                <ng-container matColumnDef="Incoming_Outgoing">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Incoming_Outgoing</th>
                    <td mat-cell *matCellDef="let row">{{row.Incoming_Outgoing}}</td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="enableUpdateMod(row)">
                            <mat-icon>launch</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteItem(row)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25"
                [pageSizeOptions]="[10,25, 50, 100, 250]">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>