<div class="page-layout simple fullwidth docs">

    <mat-tab-group>
        <mat-tab label="Cheque Recieved">
           <chequeRD-table></chequeRD-table>
        </mat-tab>
        <mat-tab label="Cheque Deposit">
           <chequedp-table></chequedp-table>
        </mat-tab>
        <mat-tab label="Filling Records">
            <fillingRecords-table></fillingRecords-table> 
        </mat-tab>
        <mat-tab label="Expenditures">
             <expenditure-table></expenditure-table> 
        </mat-tab>

      </mat-tab-group>

</div>