<div class="page-layout simple fullwidth docs">

    <mat-tab-group>
        <mat-tab label="Cheque Recieved">
           <Cheque-Recieved-table></Cheque-Recieved-tabl>
        </mat-tab>
        <mat-tab label="Cheque Deposit">
           <customers-table></customers-table>
        </mat-tab>
        <mat-tab label="Expenditures">
            <vehicle-table></vehicle-table> 
        </mat-tab>
        <mat-tab label="Debit customers-table">
             <fueltype-30table></fueltype-table> 
        </mat-tab>

      </mat-tab-group>

</div>